{% extends "inventory/base.html" %}
{% block title %}Home - Assetra{% endblock %}
{% block content %}

<h1>Welcome to Assetra</h1>

<p class="text-muted">
    Logged in as {{ user.username }} ({{ user.groups.first.name }})
</p>

<div class="row mt-5">
    {% if user.groups.first.name == "Student" %}
        <div class="col-md-4">
            <div class="card p-4 text-center">
                <h4>View Items</h4>
                <a href="/items/" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4 text-center">
                <h4>My Requests</h4>
                <a href="/my_requests/" class="btn btn-success">Go</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4 text-center">
                <h4>My Items</h4>
                <a href="/my_items/" class="btn btn-warning">Go</a>
            </div>
        </div>
    {% endif %}
    {% if user.groups.first.name == "Staff" %}
        <div class="col-md-6">
            <div class="card p-4 text-center">
                <h4>Manage Requests</h4>
                <a href="/manage_requests/" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-4 text-center">
                <h4>Manage Stock</h4>
                <a href="/items/" class="btn btn-success">Go</a>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}