{% extends "inventory/base.html" %}

{% block title %}Staff Dashboard{% endblock %}

{% block content %}

<h2>Staff Dashboard</h2>

<div class="row mt-4">

    <div class="col-md-6">
        <div class="card p-4 text-center">
            <h4>Manage Requests</h4>
            <a href="/manage_requests/" class="btn btn-primary">Go</a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card p-4 text-center">
            <h4>Manage Stock</h4>
            <a href="/items/" class="btn btn-success">Go</a>
        </div>
    </div>

</div>
{% endblock %}